<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

		<main>
			<section class="container">

			<form class="form-group"  method="post" action="/admin/<%= pageId %>">
				<p class="global-error text-danger"><%= formErrors.global %></p>
				<label class="form-label">Title</label>
				<input
					type="text"
					class="form-control col-md-6"
					placeholder="Type title"
					name="title"
					required
				/>
				<label class="form-label">Author</label>
				<input type="text" class="form-control col-md-6" placeholder="Type author" name="author"  required/>
				<label class="form-label">Year published</label>
				<input type="text" class="form-control col-md-6" placeholder="Type year of publication" name="yearPublished" required/>
				<button type="submit" class="btn btn-primary mb-2 crud"><%= pageId %></button>

			</form>

      </section>

	</body>
</html>
