<!doctype html>
<html>

<head>
	<%- include('partials/head'); %>
</head>

<body>

	<%- include('partials/header'); %>

		<div class="container">
			<div class="row">


					<% if (healthCardNumber) { %>
					<div class="col-md-12">
						<div class="card main">
							<div class="card-header">
								<div class="info">
									<h4><%= selectedPatient %><div class="pipe">&nbsp;|&nbsp;</div>MRN:&nbsp;<%= selectedHealthCardNumber %></h4>
								</div>
				<% if (pageId==='profile' ) { %>
				<form style="display: hidden" 
					  action="/profile-edit" 
					  method="POST" 
					  id="profileEdit">                    
						<input type="hidden" 
							   id="editBtnhealthCardNumber" 
							   name="healthCardNumber" 
							   value="<%=healthCardNumber%>"/>

						<input type="hidden" 
							   id="editBtnDOB" 
							   name="DOB" 
							   value="<%=selectedBirthDate%>"/>

						<input type="hidden" 
							   id="editBtnGender" 
							   name="Gender" 
							   value="<%=selectedGender%>"/>
												
						<input type="hidden" 
							   id="editBtnEmail" 
							   name="Email" 
							   value="<%=selectedEmail%>"/>
						
						<input type="hidden" 
							   id="editBtnaddress" 
							   name="Address" 
							   value="<%=selectedAddress%>"/>

						<input type="hidden" 
							   id="editBtnphone" 
							   name="Phone" 
							   value="<%=selectedPhone%>"/>
						
						<input type="hidden" 
							   id="editBtnpatient" 
							   name="Patient" 
							   value="<%=selectedPatient%>"/>

						<input type="hidden" 
							   id="editStatus" 
							   name="Action" 
							   value="Edit"/>

                        <button class="btnbtn-sm btn-info" type="submit">Edit</button>
                </form>
				<% } %>

				<% if (pageId==='history' ) { %>
				<form style="display: hidden" 
					  action="" 
					  method="POST" 
					  id="profileEdit">                    
						<input type="hidden" 
							   id="editBtnhealthCardNumber" 
							   name="healthCardNumber" 
							   value="<%=healthCardNumber%>"/>
				        <button class="btnbtn-sm btn-info" type="submit">Add History</button>
                </form>
				<% } %>

				<% if (pageId==='record' ) { %>
				<form style="display: hidden" 
					  action="/update-medical-record" 
					  method="GET" 
					  id="profileEdit">                    
						<input type="hidden" 
							   id="updateMedRecordBtnhealthCardNumber" 
							   name="healthCardNumber" 
							   value="<%=healthCardNumber%>"/>
						
				        <button class="btnbtn-sm btn-info" type="submit">Update Medical Record</button>
                </form>
				<% } %>
							</div>
							<div class="card-body">

								<ul class="nav nav-tabs">
									<li class="nav-item active">
										<a class="nav-link active" href="profile?healthCardNumber=<%= selectedHealthCardNumber %>">Details</a>
									</li>


									<li class="nav-item">
										<a class="nav-link active" href="record?healthCardNumber=<%= selectedHealthCardNumber %>">Medical Record</a>
									</li>

									<li class="nav-item">
										<a class="nav-link active" href="history?healthCardNumber=<%= selectedHealthCardNumber %>">Visits</a>
									</li>
								</ul>


								<div class="tab-content">
								<% if (pageId === 'profile') { %>
									<table class="table table-condensed table-bordered margin-top-10">
										<tbody>
											<tr>
												<td>DOB</td>
												<td class="dob"><%= selectedBirthDate %></td>
											</tr>
											<tr>
												<td>Gender</td>
												<td><%= selectedGender %></td>
											</tr>
											<tr>
												<td>Email</td>
												<td><a href="mailto:<%= selectedEmail %>"><%= selectedEmail %></a></td>
											</tr>
											<tr>
												<td>Address</td>
												<td><%= selectedAddress %></td>
											</tr>
											<tr>
												<td>Phone number</td>
												<td><%= selectedPhone %></td>
											</tr>
										</tbody>
									</table>

								<% } else if (pageId === 'record') { %>

										<div class="col-sm-4">
											<div class="card border-primary mb-4 record-card">
												<div class="card-header">
												Vitals
												</div>
												<ul class="list-group list-group-flush">
													<li class="list-group-item"><h6>Height</h6><%= selectedHeight %></li>
													<li class="list-group-item"><h6>Weight</h6><%= selectedWeight %></li>
													<li class="list-group-item <%= parseInt(selectedBmi) >= 25 ? 'overweight' : null %>"><h6>BMI <% if(parseInt(selectedBmi) >= 25) { %><i class="fa fa-exclamation-triangle"></i><%} %></h6><%= selectedBmi %></li>
												</ul>

												<%/* BMI thresholds

														Underweight = <18.5
														Normal weight = 18.5–24.9
														Overweight = 25–29.9
														Obesity = BMI of 30 or greater  */%>

											</div>
										</div>



											<div class="col-sm-4">
											<div class="card border-primary mb-4 record-card">
												<div class="card-header">
												Immunology
												</div>
												<div class="card-body">
													<ul class="list-group list-group-flush">
														<% patients.forEach((patient, index) => { %>

														<li class="list-group-item">
															<%= patient.immunology_type %>
														</li>
														<% }); %>
													</ul>
												</div>
											</div>
										</div>


								<% } else  { %>



									<div class="col-sm-12">
										<div class="card border-primary mb-4 record-card">
											<div class="card-header">
											Visits
											</div>
											<div class="card-body">

													<table class="table table-condensed table-bordered margin-top-10">
														<thead>
															<tr>
																<th>Visit Date</th>
																<th>Practician</th>
																<th>Note</th>
															</tr>
														</thead>
														<tbody>
															<% patients.forEach((patient, index) => { %>
																<tr>
																	<td class="dob"><%=  new Date(patient.visit_date).toLocaleDateString('en-US') %></td>
																	<td>Dr.&nbsp;<%= patient.practician_last_name %></td>
																	<td><%= patient.note %></td>
																</tr>
														</tbody>
													<% }); %>

											</div>
										</div>
									</div>



										<% }; %>
								</div>
							</div>
						</div>
					</div>
					<% }; %>
				</row>
			</div>
		</div>

</body>

</body>

</html>
