<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

		<main>
			<section class="container">

			<form class="form-inline" action="/admin/search">
				<label for="id">Patient name</label>
				<div class="form-group mx-sm-3 mb-2">
					<input type="text" class="form-control" placeholder="Type patient name" name="title" />
				</div>
				<button type="submit" class="btn btn-primary mb-2">Search</button>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Patient ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
					</tr>
				</thead>

				<tbody>
					<% patients.forEach((patient) => { %>
						<tr>
							<td><%= patient.id %></td>
							<td><%= patient.first_name %></td>
							<td><%= patient.last_name %></td>
							<td><%= patient.age %></td>
						</tr>
					<% }); %>
				</tbody>

			</table>

	</body>
</html>
